.linkText{
    color: white;
}
.linkText:hover{
    color: lightskyblue;
}
.navColor{
    background-color: black;
}

.email:hover{
    transform: scale(1.1);
}
.email{
    color: skyblue;
    font-size: 45px;
    transition: .25s;
}